@import "../Var.css";

.heroText {
    background-color: white;
    border: none;
    margin-bottom: 1rem;
    padding: 0px;
    font-family: Nunito;
    font-size: .875rem;
    font-weight: 500;
    background: transparent;


}

.rowWhiteGrayBackgroundPadding {
   background-color: var(--white-gray);
   padding:5rem 0rem; 

}

.rowLightBlueBackgroundPadding {
    background-color: var(--light_blue);
    padding:5rem 0rem; 
 
 }

 .CardsBGGray{
    background: var(--white-gray);
    padding: 1rem;
    text-align: -webkit-auto;
    height: 332px;
 }

 @media only screen and (max-width: 749px) {
    .CardsBGGray{
        background: var(--white-gray);
        padding: 1rem;
        text-align: -webkit-auto;
        height: fit-content;
     }
  }

.contactUsRow{
    row-gap: 16px;
    background: var(--light_beige);
    padding: 2rem 0rem;
}

.homeScreenDesktop {
    background-color: white;
}

.dividerHeader {
    border: 5px solid var(--light_beige);
}

.heroBox {
    row-gap: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33rem;
    width: 100vw;
    margin-top: 3rem;
    text-align: justify;
    hyphens: auto;


}


.buttonBlack {
    border-radius: 2.5px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    overflow: visible;
    background: linear-gradient(90deg, #849FD1 10%, #b4cbd452 10%);
    position: relative;
    align-content: center;
    color: #001122;
    font-weight: 500;
    flex-wrap: nowrap;
    gap: 10;
    border: none;
    font-family: 'Jost';
    font-size: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 37, 92, .1);
    cursor: pointer;
    text-align: justify;
    hyphens: auto;


}


.buttonBlack:hover {
    color: #000000;
    background: linear-gradient(90deg, #849FD1 100%, #b4cbd452 100%);


}



.buttonFormBlack {
    border: 2px solid var(--light_grey);
    border-radius: 2.5px;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    overflow: visible;
    position: relative;
    align-content: center;
    color: #4d4d4f;
    font-weight: 500;
    flex-wrap: nowrap;
    gap: 10;
    font-family: 'Jost';
    cursor: pointer;
    width: fit-content;
    font-size: 1.25rem;
    background: white;
    justify-content: center;
    background: var(--white-gray);
    text-align: justify;
    hyphens: auto;
    width:125px
    


}

.buttonFormBeige {
    border: none;
    border-radius: 2.5px;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    overflow: visible;
    position: relative;
    align-content: center;
    color: #4d4d4f;
    font-weight: 500;
    flex-wrap: nowrap;
    gap: 10;
    font-family: 'Jost';
    cursor: pointer;
    width: 150px;
    font-size: 1.25rem;
    background: white;
    justify-content: center;
    border-top: none;
    border-right: none;
    border-left: none;
    background: var(--light_beige);
    border-bottom: 5px solid transparent;
    text-align: justify;


}

.buttonContact{
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    overflow: visible;
    position: relative;
    align-content: center;
    color: var(--light_grey);
    font-weight: 500;
    flex-wrap: nowrap;
    gap: 10;
    font-family: 'Jost';
    cursor: pointer;
    width: fit-content;
    font-size: 1.25rem;
    background: white;
    justify-content: space-between;
    background: var(--light_beige);
    border-bottom: 5px solid var(--light_grey);
    text-align: justify;
    hyphens: auto;

}



.buttonContact:hover{
    
        color: black;

        background-color: var(--white-gray);
    
}

.buttonFormBlack:hover {
    color: #000000;
    border-bottom:5px solid var(--light_beige)
}

.buttonFormBeige:hover {
    color: black;
    
    border-bottom:5px solid black
}

.formHeaderBlue {
    text-decoration: 0.5px underline #849FD1;
    border-radius: 2.5px;
    flex-shrink: 0;
    padding: 15px 15px 15px 15px;
    background: #849FD1;
    align-content: center;
    font-weight: 500;
    flex-wrap: nowrap;
    gap: 10;
    font-family: 'Jost';
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: justify;
    hyphens: auto;


}

.buttonBeige {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    background-color: var(--light_beige);
    overflow: visible;
    position: relative;
    align-content: center;
    color: black;
    font-weight: 500;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 5px;
    border: none;
    font-family: 'Jost';
    font-size: 1rem;
    box-shadow: 11px 11px 11px rgba(0, 37, 92, .1);
    cursor: pointer;
    margin-top: 2rem;
    border: 1px solid black;
    text-align: justify;
        hyphens: auto;



}

.buttonBeige:hover {
    scale: 1.05;
}






.buttonBlackDrawer {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    background-color: var(--solid_black);
    overflow: visible;
    position: relative;
    align-content: center;
    color: white;
    font-weight: 500;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 8px;
    border: none;
    font-family: 'Jost';
    font-size: 1rem;
    border: 1px solid var(--light_grey);
    box-shadow: 11px 11px 11px rgba(0, 37, 92, .1);
    cursor: pointer;
}















.statement {
    background: #E8DAC2;
    width: max-content;
    padding: 5px;
    color: #001122;
    border-radius: 5px;
}


















.form_login {
    padding: 1rem;
    border-radius: 5px;
};







.activeTag {
    background-color: var(--light_blue);
    color: var(--solid_black);
    border: 1px solid black;
}



.alignCol {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.alignCol>div>p {
    padding: 20px 24px;

}

@media only screen and (max-width: 749px) {
    .alignCol {
        text-align: center;
    }
}

.alignCol_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}



.alignColBigLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.missionSection {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.dbd {
    font-weight: 900;
    text-decoration: 3px underline #849FD1;
}

.dbdMessage {
    background-color: #b4cbd463;
    border: 1px solid var(--light_grey);
}

.imageInventory {
    border: 2px solid black;
    border-radius: 5px;
}

.alert {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 5px solid var(--light_beige);
    background: #e8dac250;
    border-radius: 0px;
    padding: 5px
}

.alertBlue {
    background: var(--light_blue);
    padding: 5px;
    border: none;
}

.alertItalicBlue {
    border-bottom: 5px solid #b4cbd450;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    font-style: italic;
    background-color: white;

}

.alertItalicBiege {
    border-bottom: 5px solid #E8DAC250;
    font-style: italic;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    background-color: white;
}

.spanBlue {
    background: #b4cbd450;
    padding: 2px;
    font-weight: 400;
    font-size: 1rem;
    padding: 5px
}


.spanBlue {
    background: var(--light_blue);
    padding: 2px;
    font-weight: 900;
    font-size: 1rem;
    padding: 5px;
    color: white;
}

.paragraphDescription {
    font-size: 1rem;
    padding-left: 1rem;
}

.spanBeige {
    background: #E8DAC250;
    padding: 2px;
    font-weight: 400;
    font-size: 1rem;
}

.paragraphDescription {
    /* border: 1px solid black; */
    font-weight: 600;
    background: var(--light_beige);
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    color: black;
    cursor: pointer;
}

.legendBeige {
    border: 1px solid var(--light_blue);
    font-weight: 600;
    background: var(--white-gray);
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    color: black;
    font-size: 12px;
    cursor: pointer;
}

.legendBlue {
    font-weight: 600;
    background: #4D4D4F;
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.legendRed {
    border: 1px dashed var(--red);
    font-weight: 600;
    background: var(--white-gray);
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    color: black;
    font-size: 12px;
    cursor: pointer;
}

.navigationMenuDesign {
    border-radius: 5px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    border: 1px solid #d9d9d9;
    background: #fafafa;
}

.serviceServiceHeader {
    text-align: center;
}

.serviceDescription {
    font-size: .875rem;
    font-weight: 500;
    font-style: italic;
    font-family: 'Jost';
    line-height: normal;
}

.serviceSection {
    row-gap: 16px;
    padding: 5rem 0rem;
}

.timelineIcon {
    font-style: italic;

}

.timelineHeader {
    font-style: italic;
    font-weight: 500;
    width: auto;
}

.formStyles {
    padding: 20px 24px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin: 1rem 0rem;
}

.BoLADetailBox {
    background: var(--light_beige);
    width: 125px;
    height: 125px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.BoLADetailBox>p {
    font-weight: 900;
    color: var(--light_grey)
}

.BoLADetailBoxBlue {
    width: 125px;
    height: 125px;
    border-radius: 5px;
    background: var(--light_blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.BoLADetailBoxBlue>p {
    font-weight: 900;
    color: var(--light_grey)
}

.formTestBola {
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.pricingDiv {
    display: flex;
    column-gap: 1rem;
    width: 15rem;
}

.paragraphPricing {
    font-weight: 700;
    font-size: .875rem;
    color: var(--light_grey);
    background: var(--light_beige);
    padding: 5px;
    border-right: 3px solid var(--light_grey);
}

.pricingParentDiv {
    padding: 1rem;
    border-radius: 5px;
}

.nutritionalFactPanel {
    width: 300px;
    padding: 5px;
    border: 2px solid var(--light_beige);
    border-radius: 5px;
}

.nutritionalFactPanel>h3 {
    font-size: 1.75rem;
    border-bottom: 1px solid var(--light_grey);

}

.NutritionalPSmallBorder {
    font-size: .875rem;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 0px;
}

.NutritionalPTopBorder {
    font-size: .875rem;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    padding-bottom: 2.5px;
    border-bottom: 9px solid var(--light_grey);
}

.pLightBottomBorder {
    font-size: .875rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 0px;
    border-bottom: 1px solid var(--light_grey);
}

.pDarkBottomBorder {
    font-size: .875rem;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    margin: 0px;
    border-bottom: 5px solid var(--light_grey);
}

.optimalNutrientValuesFPBox {
    border: 1.5px solid var(--light_blue);
    background: var(--white-gray);
    padding: 1px;
    border-radius: 2.5px;
    font-weight: 500;
}

.tagBeige{
    background-color: var(--white-gray);
    color: var(--light_grey);
    border-left: 5px solid var(--light_beige);
    font-weight: 500;
    padding: 1.5px 2.5px;
    margin: 0px 2.25px;
    font-size: 12px;
    font-family: Jost;
    padding: 5px;
    font-family: Nunito;

};


.nutrientTableHeaderandColumnDesign{
    display: block;
 }
