.logo{
    display: flex;
    gap: 2.5px;
    align-items: center;

}



.logoBlue{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    display: block;
    background-color: var(--light_blue);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--Black, #000000);
    margin: 2px 0px;
}

.logoBeige{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    display: block;
    background-color: var(--light_beige);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--Black, #000000);
    margin: 2px 0px;

}


.menuLogoSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.biglogoBlue {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin: 2px 0px;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    font-weight: 200;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    margin: 15px;

}

.biglogoBeige{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    background-color: var(--light_beige);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--Black, #000000);
    margin: 2px 0px;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    font-weight: 900;

}

.iconsmalllogoBeige{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-color: var(--light_beige);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--Black, #000000);
    margin: 2px 0px;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    font-weight: 900;

}

.iconsmalllogoBlue{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-color: var(--light_blue);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--Black, #000000);
    margin: 2px 0px;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
    display:flex;
    font-weight: 900;
}


