

label{
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: 500;
}


.formLoginButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}


.formItemInventory{
    border: 2.5px solid black;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}