h1 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  overflow: visible;
  position: relative;
  font-style: normal;
  color: var(--light_grey);
  font-size: 3.25rem;
  letter-spacing: -2.1px;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
  font-size: 3rem;
}

@media only screen and (max-width: 749px) {
  h1 {
    flex-shrink: 0;
    width: auto;
    height: auto;
    /* white-space: pre; */
    overflow: visible;
    position: relative;
    font-style: normal;
    font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
    color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
    font-size: 2rem;
    letter-spacing: -2.1px;
    line-height: 1.2;
  }
}

h2 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  /* white-space: pre; */
  overflow: visible;
  position: relative;
  font-weight: 400;
  font-style: normal;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 2rem;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
  width: fit-content;

}



p {
  font-size: 1rem;
  font-family: 'Nunito';
  font-weight: 500;
  align-items: center;
}

@media only screen and (max-width: 749px) {
  p {
    font-size: 1rem;
    line-height: 30px;
  }
}

h3 {
  font-family: Jost;
  font-size: 1.25rem;
  letter-spacing: -.0012em;
  line-height: 30px;
  margin-bottom: 0;
  color: var(--light_grey);
  font-weight: 500;
}












.footer_h1 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  /* white-space: pre; */
  overflow: visible;
  position: relative;
  font-weight: 500;
  font-style: normal;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 1.75rem;
  letter-spacing: -2.1px;
  line-height: 1.2;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
  column-gap: 5px;
}






/* move to signup css */


.columnWidth {
  width: max-content
}

.columnLightBlue {
  background: #b4cbd450;
  width: max-content;
}


.columnLightBeige {
  background: #e8dac270;
  width: max-content
}





.inlineTextSpan {
  font-weight: 900;
  color: var(--solid_black);
  padding: 3px;
  border-radius: 0px;
  font-size: 1rem;
  background: var(--light_blue);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  color: var(--white-gray);
}

.inlineTextSpanBiege {
  font-weight: 900;
  color: var(--solid_black);
  padding: 3px;
  border-radius: 0px;
  font-size: 1rem;
  font-family: Nunito;
  background: var(--light_beige);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}



.spaceDivForButtonOnStockPage {
  flex-wrap: wrap;
  margin-top: 20px;
}

.inputforProducts {
  color: black;
  border: 1px solid #d9d9d9;
  padding: 0px 5px;
  border-radius: 2.5px;
  font-weight: 600;
  background: #b4cbd450;
  display: flex;
  justify-content: center;
}

.inputforProducts:hover {
  color: black;
  border: 1px solid #000000;
}

.anchorLinks {
  font-size: 1rem;
  font-weight: 500;
  color: var(--solid_black);
  width: auto;
  font-family: Jost;
  padding: 2.5px;
  color: var(--light_grey);
}

.anchorLinks:hover {

  text-decoration: underline solid var(--light_grey);
  color: var(--light_grey)
}



.popoverFont {
  width: 300px;
  font-size: .875rem
}



.sectionH1ColorBlueAlert {
  color: var(--light_grey);
  border-bottom: 2.5px solid var(--light_blue);
  width: fit-content;
  text-align: justify;

}

.sectionH1ColorBeigeAlert {
  color: var(--light_grey);
  border-bottom: 2.5px solid var(--light_beige);
  width: fit-content;

}



.moveToForward {
  font-size: .875rem;
  font-family: jost;
  font-weight: 400;
  align-items: center;
}