h1 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  /* white-space: pre; */
  overflow: visible;
  position: relative;
  font-style: normal;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 3.25rem;
  letter-spacing: -2.1px;
  line-height: 1.2;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
}

@media only screen and (max-width: 749px) {
  h1 {
    flex-shrink: 0;
    width: auto;
    height: auto;
    /* white-space: pre; */
    overflow: visible;
    position: relative;
    font-style: normal;
    font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
    color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
    font-size: 2rem;
    letter-spacing: -2.1px;
    line-height: 1.2;
  }
}

h2 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  /* white-space: pre; */
  overflow: visible;
  position: relative;
  font-weight: 700;
  font-style: normal;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 2.25rem;
  letter-spacing: -2.1px;
  line-height: 1.2;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
}



p {
  font-size: 1rem;
  line-height: 30px;
  margin-top: 2rem;
  font-family: 'Nunito';
  font-weight: 500;
}

@media only screen and (max-width: 749px) {
  p {
    font-size: 1rem;
    line-height: 30px;
  }
}








.footer_h1 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  /* white-space: pre; */
  overflow: visible;
  position: relative;
  font-weight: 500;
  font-style: normal;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 1.75rem;
  letter-spacing: -2.1px;
  line-height: 1.2;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
  column-gap: 5px;
}







/* move to signup css */

  .fixedSignupDiv{
    width: 400px;
    position: fixed;
  }


@media only screen and (max-width: 749px) {

  .fixedSignupDiv{
    width: fit-content;
    position: relative;
  }
}

.homeLinks{
  font-weight: 900;
    text-decoration: 3px underline #b4cbd4;
    color:var(--solid_black)
}


