h1 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  /* white-space: pre; */
  overflow: visible;
  position: relative;
  font-style: normal;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 3.25rem;
  letter-spacing: -2.1px;
  line-height: 1.2;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
}

@media only screen and (max-width: 749px) {
  h1 {
    flex-shrink: 0;
    width: auto;
    height: auto;
    /* white-space: pre; */
    overflow: visible;
    position: relative;
    font-style: normal;
    font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
    color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
    font-size: 2rem;
    letter-spacing: -2.1px;
    line-height: 1.2;
  }
}

h2 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  /* white-space: pre; */
  overflow: visible;
  position: relative;
  font-weight: 700;
  font-style: normal;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 2.25rem;
  letter-spacing: -2.1px;
  line-height: 1.2;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
}

@media only screen and (max-width: 749px) {
  h2 {
    flex-shrink: 0;
    width: auto;
    height: auto;
    /* white-space: pre; */
    overflow: visible;
    position: relative;
    font-weight: 200;
    font-style: normal;
    font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
    color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
    font-size: 1.75rem;
    letter-spacing: -2.1px;
    line-height: 1.2;
  }
}

p {
  font-size: 1rem;
  line-height: 30px;
  margin-top: none;
  font-family: 'Nunito'
}

@media only screen and (max-width: 749px) {
  p {
    font-size: 1rem;
    line-height: 30px;
  }
}

.p_services_header {
  display: flex;
  align-items: end;
  font-weight: 500;
}



.forms_background {
  padding: 0.5rem;
  border-radius: 5px;
  background: var(--light_blue);
  color: var(--solid_black);
  text-align: justify;
}

.h1_services {
  color: var(--light_beige);
  width: fit-content;
}

.h3_services {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: Jost;
  text-decoration: 2.5px underline var(--light_blue);
  color: var(--light_beige);
}

.p_services {
  color: white
}

.footer_h1 {
  flex-shrink: 0;
  width: auto;
  height: auto;
  /* white-space: pre; */
  overflow: visible;
  position: relative;
  font-weight: 500;
  font-style: normal;
  color: var(--token-b9c3c957-2c66-49c4-9732-fa196fddac20, #001122);
  font-size: 1.75rem;
  letter-spacing: -2.1px;
  line-height: 1.2;
  font-family: "Jost", "Nunito Sans Placeholder", sans-serif;
  column-gap: 5px;
}


.industriesServed{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.industriesText{
  color: var(--light_beige);
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Jost;
}


/* move to signup css */

  .fixedSignupDiv{
    width: 400px;
    position: fixed;
  }


@media only screen and (max-width: 749px) {

  .fixedSignupDiv{
    width: fit-content;
    position: relative;
  }
}

