:root{
    --light_blue:#849FD1;
    --light_beige:#E8DAC2;
    --light_grey:#4D4D4F;
    --solid_black:#000000;
    --white-gray:#fafafa;
    --warm-green:#8CB1A8;
    --warm-red:#BC4C58;
    --warm-orange:#E5652E;
  }