.ClientSideItems{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--white-gray);
    height: fit-content;
    padding: 1rem;
    border-right: 2px solid var(--light_grey);
    border-bottom: 2px solid var(--light_grey);
    border-radius: 0px 0px 5px 0px;
    height: 100vh;

}

@media only screen and (max-width: 749px) {
    .ClientSideItems{

        display: none;
       
    
    }
  }


.ClientPortalHeader {
    background: white;
    width: -webkit-fill-available;
    overflow: hidden;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 2px solid var(--light_grey);
}