.footer_public {
    width: -webkit-fill-available;
    overflow: hidden;
    background: #ffffff;
    margin-top: 10rem;
    border-top: 5px solid black;
    z-index: 1;

}

.footer_portal {
    width: -webkit-fill-available;
    overflow: hidden;
    background: #ffffff;
    border-top: 5px solid black;
    position: fixed;
    bottom: 0;
    z-index: 1;

}