.footer_public {
    width: -webkit-fill-available;
    overflow: hidden;
    background: #ffffff;
    border-top: 1px solid #d9d9d9;
    margin-top: 20rem;}

.footer_column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 5px;
    border-radius: 5px;
}

.footerCompanyDetails{
    flex-wrap: wrap;
    
}

.footerCompanyDetails>h3{
    font-size: 1rem;
    
}
.footerCompanyDetails>p{
    font-size: .875rem;
    line-height: 3px;
}


.h3Title{
    border-bottom: 2.5px solid var(--light_grey);
    width: fit-content;
}
