@import "../Var.css";



.homeScreenDesktop {
    background-color: white;
    padding-top: 5rem;
}

.dividerHeader {
    border: 5px solid var(--light_beige)
}

.buttonBlue {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    background-color: #b4cbd4;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 8px;
    border: none;
    font-family: 'Jost';
    font-size: 1rem;
    border: 1px solid var(--light_grey);
    box-shadow: 11px 11px 11px rgba(0, 37, 92, .1);
    cursor: pointer;
}

.buttonBlue:hover {

    background-color: var(--light_beige);

}

.buttonBlack {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    background-color: var(--solid_black);
    overflow: visible;
    position: relative;
    align-content: center;
    color: white;
    font-weight: 500;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 8px;
    border: none;
    font-family: 'Jost';
    font-size: 1rem;
    border: 1px solid var(--light_grey);
    box-shadow: 11px 11px 11px rgba(0, 37, 92, .1);
    cursor: pointer;
}

.buttonBlack:hover {
    background-color: var(--light_beige);
    color: #000000
}

.homesectionBlue {
    margin: 5rem 0rem;
    background: var(--light_blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0rem;
}


.homesectionWhite {
    padding: 10rem 0rem;
    background: var(--white-gray);
    display: flex;
    justify-content: space-around;
    border-top: 5px solid var(--light_beige);
}

.homesectionWhatWeAre {
    padding: 10rem 0rem 5rem 0rem;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.headerlogoWhite {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 125px;
    height: 125px;
    display: block;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--Black, #000000);
    margin: 1rem 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    text-align: center;
}

.headerlogoBlue {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 125px;
    height: 125px;
    display: block;
    background-color: var(--light_blue);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--Black, #000000);
    margin: 1rem 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    text-align: center;
}

.headerlogoBeige {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 125px;
    height: 125px;
    display: block;
    background-color: var(--light_beige);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--Black, #000000);
    margin: 1rem 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    text-align: center;

}


@media only screen and (min-width: 749px) {
    .headerLogoColumn {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate3d(1, 1, 1, 0deg);

    }
}

@media only screen and (max-width: 749px) {
    .headerlogoBeige {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 90px;
        height: 90px;
        display: block;
        background-color: var(--light_beige);
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        border: 1px solid var(--Black, #000000);
        margin: 1rem 0px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1rem;

    }

    .headerlogoBlue {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 90px;
        height: 90px;
        display: block;
        background-color: var(--light_blue);
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        border: 1px solid var(--Black, #000000);
        margin: 1rem 0px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1rem;
    }

    .headerLogoColumn {

        display: flex;


    }

    .headerlogoWhite {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 90px;
        height: 90px;
        display: block;
        background-color: #ffffff;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        border: 1px solid var(--Black, #000000);
        margin: 1rem 0px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1rem;
        text-align: center;
    }

}



.headerLogo {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: center;
}

.icon_enterprise {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
    text-align: center;
}

.statement {
    background: #e8dac2;
    width: max-content;
    padding: 5px;
    color: #001122;
    border-radius: 5px;
}

.insecurities {
    display: flex;
    gap: 12px;

}

.serviceOffered {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    background-color: var(--light_beige);
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 2px;
    border-radius: 8px;
    border: none;
    font-family: 'Jost';
    font-size: 1rem;
    border: 1px solid var(--light_grey);
    box-shadow: 11px 11px 11px rgba(0, 37, 92, .1);
    width: fit-content;
}


.h1Center {
    text-align: center;
}

.pCenter {
    text-align: center;
}

.additionalServices {
    display: flex;
    flex-direction: column;
}

.spanServices {
    display: flex
}

:where(.css-dev-only-do-not-override-12upa3x).ant-input {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
    border: 2px solid black;
    border-radius: 5px;
}



:where(.css-dev-only-do-not-override-12upa3x).ant-select-single.ant-select-lg .ant-select-selector {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 16px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    display: flex;
    border-radius: 5px;
    border: 2px solid black;
}

.serviceTarget {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;
}

.h2_tenents {
    display: flex;
    align-items: end;
    font-weight: 500;
    background: var(--light_blue);
    padding: 5px;
    width: 8rem;
}



.servicesDiv {
    height: 22rem;
    overflow: scroll;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.service_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagsServices{
    background-color: rgb(0, 0, 0);
    border-radius: 0px;
    padding: 2.5px;
}